.person {
  width: 60%;;
  margin: auto;
  border: 1px solid lightblue;
  box-shadow: 2px 2px 3px 1px #000;
  padding: 16px;
  text-align: center;
  background-color: #ccc;
  margin-top: 8px;
}


@media (min-width: 500px){
  .person{
    color: rgb(15, 4, 77);
  }
}

